body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: normal;
}
h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  font-size: 90px;

}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
span{
  text-decoration: underline;
}
a{
  color: #11999E;
  font-family:serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.top{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.PC{
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: 20px;
  }
.chilli{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.dp{
  width: 250px;
  height: 250px;
}
.middle{
  margin: 100px 0;

}
.bottom{
  background-color: #66BFBF;
  margin-top: 50px;
  padding: 50px 0 20px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.cloud1{
  position: absolute;
  right: 300px;
  top: 40px;

}
.cloud2{
  position: absolute;
  bottom: 350px;
  left: 300px;
}
hr{
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 6px;
  margin: 50px auto;
}
.last{
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
}
p{
  line-height: 2;
}
.btn{
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Brush Script MT;
   width: 110px;
   font-size: 54px;
   font-weight: 300;
   padding: 36px;
   -webkit-box-shadow: 1px 1px 3px 0 #000000;
   -moz-box-shadow: 1px 1px 3px 0 #000000;
   box-shadow: 1px 1px 3px 0 #000000;
   text-shadow: 4px 1px 79px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
